@import "tailwindcss";
@import "nprogress/nprogress.css";

html {
    padding-right: 0 !important;
    overflow-y: auto !important;
}

.Toastify__toast {
  font-size: 14px;
}

#nprogress .spinner {
  display: none;
}